<div class="tab">
    <dx-form [formData]="config" [colCount]="2">
        <dxi-item itemType="group" caption="PbProg">
            <dxi-item dataField="PbProgToken"></dxi-item>
            <dxi-item dataField="PbProgSecret"></dxi-item>
            <dxi-item dataField="PbProgURL"></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" caption="DADATA">
            <dxi-item dataField="DaDataToken"></dxi-item>
            <dxi-item dataField="DaDataSecret"></dxi-item>
            <dxi-item dataField="DaDataUrl"></dxi-item>
        </dxi-item>
    </dx-form>
    <div class="buttons">
        <dx-button title="Save" (onClick)="clear()" type="danger">CLEAR</dx-button>
        <dx-button title="Save" (onClick)="save()" type="success">SAVE</dx-button>
    </div>
</div>
