<div class="container">
    <!-- <h1>Welcome to Tauri + Angular!</h1>
    <div class="row">
        <a href="https://tauri.app" target="_blank">
            <img src="/assets/tauri.svg" class="logo tauri" alt="Tauri logo" />
        </a>
        <a href="https://angular.io" target="_blank">
            <img src="/assets/angular.svg" class="logo angular" alt="Angular logo" />
        </a>
    </div>
    <p>Click on the logos to learn more about the frameworks</p> -->
    <!-- 
    <form class="row" (submit)="greet($event, greetInput.value)">
        <input #greetInput id="greet-input" placeholder="Enter a name..." />
        <button type="submit">Send</button>
        <button type="button" (click)="dialog($event)">Open Dialog</button>
    </form> -->
    <p>{{ greetingMessage }}</p>
    <dx-tab-panel id="tabPanel">
        <!-- Configuration goes here -->
        <dxi-item title="PbProg" icon="floppy" disabled="true">
            <div class="tab">
                <span class="row">
                    <dx-button
                        stylingMode="outlined"
                        icon="folder"
                        type="success"
                        text="Open Excel File"
                        (click)="dialog($event)"
                    ></dx-button>
                    <p><span class="red">*Warning... </span>First row is caption</p>
                    <span> {{ selectedExcelFile }}</span>
                </span>
                <dx-form [formData]="PbProgColumns">
                    <dxi-item itemType="group" caption="Номера колонок (нумерация начинается с 0)">
                        <dxi-item
                            dataField="kn"
                            caption="edwfwe"
                            helpText="Номер колонки с кадастровым номером"
                        ></dxi-item>
                        <dxi-item
                            dataField="Address"
                            caption="Номер столбца адрес"
                            helpText="Номер колонки с адресом"
                        ></dxi-item>
                    </dxi-item>
                </dx-form>

                <dx-list *ngIf="tableCaptions.length > 0" [dataSource]="tableCaptions" [height]="200"> </dx-list>
                <dx-button icon="runner" (onClick)="testservice()" type="success" stylingMode="outlined" text="RUN">
                </dx-button>
            </div>
        </dxi-item>
        <dxi-item title="DaDATA" icon="comment">
            <div class="tab">
                <span class="row">
                    <dx-button
                        stylingMode="outlined"
                        icon="folder"
                        type="success"
                        text="Open Excel File"
                        (click)="dialog($event)"
                    ></dx-button>
                    <p #fileName><span class="red">*Warning... </span>First row is caption</p>
                </span>
                <dx-form [formData]="DaDataColumns" [colCount]="2">
                    <dxi-item itemType="group" caption="Номера колонок">
                        <dxi-item dataField="kn" caption="'CadNum'" text="tret">
                            <dxo-label text="Кадастровый номер"></dxo-label>
                        </dxi-item>
                        <dxi-item dataField="Address" caption="" helpText="">
                            <dxo-label text="Адрес"></dxo-label>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group" caption="Обработка строк">
                        <dxi-item dataField="rowStart" caption="'CadNum'" text="tret" helpText="">
                            <dxo-label text="C"></dxo-label>
                        </dxi-item>
                        <dxi-item dataField="rowEnd" caption="" helpText="">
                            <dxo-label text="По"></dxo-label>
                        </dxi-item>
                    </dxi-item>
                </dx-form>
                <dx-load-indicator [(visible)]="isLoadIndicatorVisible"> </dx-load-indicator>

                <dx-list *ngIf="tableCaptions.length > 0" [dataSource]="tableCaptions" [height]="200"> </dx-list>
                <dx-button
                    #run
                    icon="runner"
                    (onClick)="runDadataQueries()"
                    type="success"
                    stylingMode="outlined"
                    text="RUN"
                >
                </dx-button>
            </div>
        </dxi-item>
        <dxi-item title="Config" icon="preferences">
            <app-setting-page></app-setting-page>
        </dxi-item>
    </dx-tab-panel>
</div>
